Q1. How do you comment code in Python? What are the different types of comments?

Types of comment: single-line, multi-line, and docstring comments

Q2. What are variables in Python? How do you declare and assign values to variables?

In Python, you can create a variable by assigning a value to it using the equal sign (=). Below are the some examples:

In [5]:
#Creating Variable

A = "Vikas"
B = 25
C = 2.526

In [4]:
#Printing variable

print(A,B,C)

Vikas 25 2.526

In [6]:
#printing Variable 

print("Name:",A)
print("Age:",B)
print("Number:", C)

Name: Vikas
Age: 25
Number: 2.526

Q3. How do you convert one data type to another in Python?

In [7]:
A = "123456"

In [9]:
B = int(A)
print(B)

123456

In [12]:
C = "12.5626"

In [13]:
D = float(C)
print(D)

12.5626

Q4. How do you write and execute a Python script from the command line?

Use a text editor (like Notepad on Windows, TextEdit on macOS, or any code editor like VSCode, Atom, Sublime Text, etc.) to write your Python script.

Write your Python code in the text editor and save the file with a "py" extension

Open the command line or terminal on your operating system

Use the cd command to navigate to the directory where your Python script is located.

Once you are in the correct directory, run the script using the python command

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list = [1,2,3,4,5]

In [2]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number that can be expressed in the form 
a+bj, where a and b are real numbers, and j is the imaginary

In [19]:
A = 5+4j

In [15]:
A.real

5.0

In [16]:
A.imag

4.0

In [17]:
A.conjugate

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [20]:
Age = 25

In [21]:
Age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [22]:
price = 9.99

In [23]:
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [24]:
name = "Vikas Gupta"

In [25]:
print(name)

Vikas Gupta

In [26]:
print(type(name))

<class 'str'>

Q10. Given the string "Hello, World!", extract the substring "World".

In [3]:
a = "Hello, World!"

In [4]:
a[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [27]:
is_student = True

In [29]:
print("I Am a Student :", is_student)

I Am a Student : True