Q1. Create one variable containing following type of data:

(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
'Vikas',"Vikas"

('Vikas', 'Vikas')

In [2]:
a = [ 1,2,3,'vikas',45.65,True,5+4j]

In [3]:
a

[1, 2, 3, 'vikas', 45.65, True, (5+4j)]

In [4]:
print(type(a))

<class 'list'>

In [5]:
c = 45.2556

In [6]:
c

45.2556

In [7]:
print(type(c))

<class 'float'>

In [8]:
d = ("vikas",4+5j,4,5,6,True)

In [9]:
print(type(d))

<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

1. String
2. String
3. List
4. Int

Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **

/ Division Operator : Divides the number

In [2]:
10/5

2.0

% Modules operator : Returns the remainder of dividing two numbers

In [3]:
1%4

1

// Division floor :

In [4]:
5//4

1

** power operator

In [6]:
5**3

125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
f = [2,5,6,"vikas",True,5.25,5+4j,["vikas",24],(25,"vikas"),45]

In [16]:
for i in f:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
a,b,c = 36,2,0

In [11]:
while a % b == 0:
    a = a // b
    c =c + 1
print(c)

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
e = [ 1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25]

In [13]:
e1 = []
for i in e :
    if i%3==0 :
        e1.append(i)

In [14]:
e1

[3, 6, 9, 12, 15, 18, 21, 24]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutuable : An object that allows you to change the values without changing its identity is a mutuable object

Immutuable : if you can't change the object's state after you've created it